:root{
    --selection-bg:#7f7aee;
    --selection-color:#fff;
    --primary-font-family:Roboto, UniversalSans-500, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji","Segoe UI Emoji", "Segoe UI Symbol";
    --color:#1a1a1a;
    --default-font-size:1.2rem;
    --line-height:1.15;
}




